<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button
    class="example-icon menu-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleMenu.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="title">Capibara shop</h1>
  <img src="../../../assets/capi.png" alt="logo" class="logo">
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
