<ng-container *ngIf="(products$ | async) as products; else loader">
  <div class="filters">
    <p class="filters_title">Filters</p>

    <div class="filters_name">
      <p class="filters_nametitle">Name</p>
      <input class="filters_nameinput" placeholder="Type the name" name="filterName" [(ngModel)]="key">
    </div>

    <div class="filters_brand">
      <p class="filters_brandtitle">Brands</p>
      <ng-container *ngIf="brands.length > 0">
        <mat-checkbox class="filters_selectall"
                      [checked]="allSelected"
                      color="primary"
                      (change)="setAll($event.checked)">
            Select all
        </mat-checkbox>
        <ul class="filters_list">
          <li *ngFor="let brand of brands  | slice : 0 : brandsAmount">
            <mat-checkbox [(ngModel)]="brand.selected"
                          class="filters_brandinput"
                          color="primary"
                          (ngModelChange)="updateAllSelected()">
              {{brand.name}}
            </mat-checkbox>
          </li>
        </ul>
        <p class="filters_more" (click)="showAllBrands()">{{buttonText}}</p>
      </ng-container>
    </div>
    <div class="filters_price">
      <p class="filters_pricetitle">Price</p>
      <div class="filters_pricerange">
        <label class="filters_pricelabel">From</label>
        <input class="filters_priceinput" name="price-from"
            [(ngModel)]="priceFrom" [placeholder]="minPrice" appOnlyNumber=>
        <label class="filters_pricelabel">To</label>
        <input class="filters_priceinput" name="price-to"
            [(ngModel)]="priceTo" [placeholder]="maxPrice" appOnlyNumber>
      </div>
      <button class="filters_button" type="button" [ngClass]="{'btn-disabled': !priceFrom && !priceTo}"
        (click)="filterPrices()" [disabled]="!priceFrom && !priceTo"
      >OK</button>
    </div>
  </div>

  <div class="products">
    <p *ngIf="products.length === 0" class="products_noresult">Noting was found</p>
    <ul class="products-list">
      <li *ngFor="let product of products | filterName: key | arrayFilter: brands; index as index; trackBy:trackById">
        <app-product-card [product]="product" [category]="id">
        </app-product-card>
      </li>
    </ul>
  </div>

</ng-container>

<ng-template #loader>
  <mat-spinner></mat-spinner>
</ng-template>
