/* You can add global styles to this file, and also import other style files */

$font-color: #373737;
$mainfont-style: 'Barlow', sans-serif;
$dark-color: #171717;

h1 {
	color: $font-color;
	margin: 0;
	font-family: $mainfont-style;
}

p {
	color: $font-color;
	font-family: $mainfont-style;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
}

html,
body {
  height: 100%;
	margin: 0;
	font-family: $mainfont-style;
}

span {
	font-family: $mainfont-style;
}
